/* 
#A2D2DF modra
#F6EFBD zlta
#E4C087 hneda
#BC7C7C cervena
#d43d63 tmava cervena
*/

h1 {
    color: #A2D2DF;
    font-stretch: ultra-expanded;
    text-align: center;

    filter: drop-shadow(5px 5px 5px #222);

    font-size: 50px;
}
header{
    background-image: url("./images/wood.jpg");
}
h2{  
    color: #d43d63;
    background-color: #E4C087;


    font-family: Arial, Helvetica, sans-serif;

    padding-left: 20px;

    border-width: 5px;
    border-style: outset;
    border-color: #E4C087;
    border-radius: 5px;
}
h2:hover{
    filter: drop-shadow(5px 5px 5px #00000032);
}
body{
    font-family: Verdana;
    background-color: #F6EFBD ;
}
.jedalnyListok{
    display: inline-block;
}
.pizzaBullets{
    color: #BC7C7C;
    background-image: url(./images/pizza.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 15px;
    background-position: left center;
}
.logo{
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 8px;

    filter: drop-shadow(5px 5px 5px #222);

    /*center*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.ponuka_img{
    height: 200px;
    width: 200px;
    display: inline-block;
    border-radius: 8px;
    filter: drop-shadow(5px 5px 5px #000000);
}
.pizzabox{  
    display: inline-block;
}
.bold{
    font-weight: bold;
}
.pizzaList{
    list-style-type: none;
}
.fotogaleria_image{
    height: 200px;
    width: 200px;
    display: inline-block;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 10px;
}
.kontaktImage{
    height: 50px;
    width: 50px;
    display: inline-block;
}
nav{
    text-align:center;
}
a.odkaz{
    text-decoration: none;
    color: #BC7C7C;
    font-weight: bold;
}
header button{
    background-color: #E4C087;
    border-color: #E4C087;
    border-radius: 8px;
}
header button:hover{
    border-radius: 6px;
    background-color: #f8d397;
}

table, th, td{
    border: 2px solid #000000;
    border-collapse: collapse;
    border-spacing: 2px;
    padding:10px;
}
#column1{
    background-color: #BC7C7C;
}
.lightBrownTableColumn{
    background-color: #f8d397;
}
